@model AdvancedForms.ViewModels.AdvancedFormViewModel


<style asp-src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" debug-src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></style>
@*<style asp-src="https://unpkg.com/formiojs@latest/dist/formio.full.min.css" debug-src="https://unpkg.com/formiojs@latest/dist/formio.full.min.css"></style>*@
@*<script asp-src="https://unpkg.com/formiojs@latest/dist/formio.full.min.js" debug-src="https://unpkg.com/formiojs@latest/dist/formio.full.min.js" at="Head" asp-name="formio.full.min"></script>*@

<style asp-src="/AdvancedForms/Styles/formio.full.min.css"></style>
<script asp-src="/AdvancedForms/Scripts/formio.full.min.js" at="Head" asp-name="formio.full.min"></script>


<script asp-src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" at="Head"></script>
<script asp-src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" at="Head"></script>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<script name="trumbowyg" depends-on="admin" asp-src="/OrchardCore.Resources/Scripts/trumbowyg.min.js" debug-src="/OrchardCore.Resources/Scripts/trumbowyg.js" at="Foot"></script>
<style name="trumbowyg" asp-src="/OrchardCore.Resources/Styles/trumbowyg.min.css" debug-src="/OrchardCore.Resources/Styles/trumbowyg.css"></style>

<style>
    .ta-navbar-brand {
        font-size: 1.5rem;
    }

    .navbar-collapse {
        display: flex !important;
    }

        .navbar-collapse.collapse {
            display: flex !important;
        }

    .navbar-nav {
        float: right !important;
    }

    .nav-link:hover {
        background: none;
    }

    .nav-link {
        display: block;
        text-decoration: none;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        padding: 0.5rem 1rem !important;
        font-size: 16px;
    }

    .btn-link {
        text-decoration: none !important;
    }

    .menu label {
        font-weight: 100;
        font-size: 1.1em;
    }

    .workflows {
        font-weight: 100;
        font-size: 1.05em;
    }

    #ta-left-sidebar #left-nav ul li {
        line-height: 2.8em;
    }

    #ta-left-sidebar .icon {
        font-weight: 100;
        font-size: 1.07em;
    }

    .invalid-feedback, .field-validation-error {
        display: block;
    }

    .trumbowyg-box, .trumbowyg-editor {
        margin: auto;
    }

    .error-box {
        border: 1px solid red;
    }

    .form-control.input-validation-error {
        border-color: #ccc;
    }

        .form-control.input-validation-error:focus {
            border-color: #ccc;
            box-shadow: none;
        }

    .trumbowyg-button-pane {
        z-index: 0;
    }

    .formcomponents {
        z-index: 99;
    }
</style>


@{
    var standardComp = "{components:this.formioComponents}";
    var isEdit = !String.IsNullOrEmpty(Model.Id);
    var createOrEdit = isEdit ? "Edit" : "Create";
}

<script type='text/javascript' at="Head">

    window.onload = function () {
        let formioComponents;
        Formio.builder(document.getElementById('builder'),

                @if (String.IsNullOrEmpty(Model.Container))
                {
                   @standardComp
                }
                else
                {
                    @Html.Raw(Model.Container)
                }
            )
            .then(function (builder) {
                builder.on('change', function () {
                    if (builder.schema != null && builder.schema.components != null && builder.schema.components.length > 1) {
                        document.getElementById('Container').value = JSON.stringify(builder.schema);
                    } else {
                        document.getElementById('Container').value = null;
                    }
                    var formElement = document.getElementById('formio');
                    formElement.innerHTML = '';
                    var formJsonElement = document.getElementById('formJson');
                    formElement.innerHTML = '';
                    formJsonElement.innerHTML = '';
                    if (builder.form.components) {
                        Formio.createForm(formElement, builder.form).then(onForm);
                        formJsonElement.appendChild(document.createTextNode(JSON.stringify(builder.schema, null, 4)));
                    }
                });
            });
    };

    var onForm = function (form) {
        form.on('change', function () {
            var subJsonElement = document.getElementById('subJson');
            subJsonElement.innerHTML = '';
            subJsonElement.appendChild(document.createTextNode(JSON.stringify(form.submission, null, 4)));
        });
    };

    function onFormSubmit(form) {
        debugger;
        var isValidate = true;
        if (form.Title.value == '') {
            isValidate = false;
            document.getElementById('TitleError').innerHTML = "The Title field is required.";
            document.getElementById("TitleError").classList.add('field-validation-error');
        } else {
            document.getElementById('TitleError').innerHTML = "";
        }
        if (form.Description.value == '') {
            isValidate = false;
            document.getElementById('DescriptionError').innerHTML = "The Description field is required.";
            document.getElementById("DescriptionError").classList.add('field-validation-error');
        } else {
            document.getElementById('DescriptionError').innerHTML = "";
        }
        if (form.Container.value == '') {
            isValidate = false;
            document.getElementById('ContainerError').innerHTML = "Form components is Required";
            document.getElementById("ContainerError").classList.add('field-validation-error');
        } else {
            document.getElementById('ContainerError').innerHTML = "";
        }
        document.documentElement.scrollTop = 0;
        return isValidate;
    }

</script>

<h1>@T["Advanced Form Module"]</h1>
<br />

<form enctype="multipart/form-data" asp-action="@createOrEdit" method="post" id="main" onsubmit="return onFormSubmit(this)"></form>

<div>
    <label asp-for="Title">@T["Title"]</label>
    <input asp-for="Title" class="form-control content-preview-text content-caption-text" autofocus="autofocus" form="main" />
    <span id="TitleError" asp-validation-for="Title"></span>
    <span class="hint">@T["The title of the form."]</span>
    <br />
    <br />
</div>

<div class="description">
    <label asp-for="Description">@T["Description"]</label>
    <textarea asp-for="Description" class="form-control content-preview-text content-caption-text" form="main"></textarea>
    <span id="DescriptionError" asp-validation-for="Description"></span>
    <span class="hint">@T["The Description of the form."]</span>
    <br />
    <br />
</div>

<div>
    <label asp-for="Instructions">@T["Instructions"]</label>
    <textarea asp-for="Instructions" class="form-control content-preview-text content-caption-text" form="main"></textarea>
    <span class="hint">@T["The instructions for the form."]</span>
    <br />
    <br />
</div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#formBuilder">@T["Form Builder"]</a></li>
    <li><a data-toggle="tab" href="#formPreview">@T["Preview"]</a></li>
    <li><a data-toggle="tab" href="#formJsonTab">@T["Form JSON"]</a></li>
    <li><a data-toggle="tab" href="#subJsonTab">@T["Subumssion JSON"]</a></li>
    <li><a data-toggle="tab" href="#printTab">@T["Print"]</a></li>
</ul>

<div class="tab-content">
    <div id="formBuilder" class="tab-pane fade in active">
        <br />
        <div id='builder'></div>
    </div>
    <div id="formPreview" class="tab-pane fade">
        <br />
        <div id='formio'></div>
    </div>
    <div id="formJsonTab" class="tab-pane fade">
        <br />
        <div class="card card-body bg-light jsonviewer">
            <pre id="formJson"></pre>
        </div>
    </div>
    <div id="subJsonTab" class="tab-pane fade">
        <br />
        <div class="card card-body bg-light jsonviewer">
            <pre id="subJson"></pre>
        </div>
    </div>
    <div id="printTab" class="tab-pane fade">
        <br />
        <div>
            <label asp-for="Header">@T["Header"]</label>
            <textarea asp-for="Header" class="form-control content-preview-text content-caption-text" form="main"></textarea>
            <span class="hint">@T["The Header for the form."]</span>
            <br />
            <br />
        </div>
        <div>
            <label asp-for="Footer">@T["Footer"]</label>
            <textarea asp-for="Footer" class="form-control content-preview-text content-caption-text" form="main"></textarea>
            <span class="hint">@T["The Footer for the form."]</span>
            <br />
            <br />
        </div>
    </div>
    <span id="ContainerError" asp-validation-for="Container"></span>
</div>
<input type="hidden" asp-for="Container" form="main" />

<br />
<br />

<button form="main" type="submit" name="submit.Publish" class="publish-button btn btn-success" value="submit.Publish">@T["Publish"]</button>

@if (isEdit)
{
    var returnUrl = Context.Request.Query["returnUrl"];
    <button form="main" type="submit" name="submit.Save" class="primaryAction btn btn-primary" value="submit.Save">@T["Save Draft"]</button>
    @if (!String.IsNullOrWhiteSpace(returnUrl) && Url.IsLocalUrl(returnUrl))
    {
        <a id="button-cancel" href="@returnUrl" class="btn btn-secondary">@T["Cancel"]</a>
    }
}
<input type="hidden" asp-for="Id" form="main" />

<script at="Foot">
    $(function () {
        $('#Footer').trumbowyg().on('tbwchange', function () {
            $(document).trigger('contentpreview:render');
        });
        $('#Header').trumbowyg().on('tbwchange', function () {
            $(document).trigger('contentpreview:render');
        });
        $('#Description').trumbowyg().on('tbwchange', function () {
            $(document).trigger('contentpreview:render');
        });
        $('#Instructions').trumbowyg().on('tbwchange', function () {
            $(document).trigger('contentpreview:render');
        });
    });
</script>

