<h1>Advanced Form Submissions</h1>
<style asp-src="/AdvancedForms/Styles/AdvancedForms.css"></style>
<div id='dashboard'>
</div>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script asp-src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" at="Head"></script>
<script asp-src="/AdvancedForms/Scripts/D3.js" at="Head" asp-name="advancedforms.D3"></script>
<script>
    renderGraph();
</script>
<hr />

@using (Html.BeginForm())
{
    <fieldset class="filter-options container-fluid">
        <div class="row">
            <div class="col-md-2 col-xl-1 form-group">
                <label for="contentResults" class="label col-form-label">@T["Filter"]</label>
            </div>
            <div class="col-md-4 col-xl-3 form-group">
                <input type="text" class="form-control" id="DisplayText" name="DisplayText" value="@Model.DisplayText" />
            </div>
            <div class="col-md-2 col-xl-1 form-group">
                <button type="submit" class="btn btn-primary" value="submit.Filter" name="submit.Filter">@T["Apply"]</button>
            </div>
            @if (Model.ContentItemSummaries.Count > 0)
            {
                <div class="col-md-4 col-xl-7">
                    <button type="submit" id="btnExport" class="btn btn-primary" style="float:right;display:none;" value="submit.Export" name="submit.Export">@T["Export"]</button>
                    <input type="hidden" id="checkedItems" name="checkedItems" />
                </div>
            }
        </div>
    </fieldset>

    @if (Model.ContentItemSummaries.Count > 0)
    {
        <ul class="list-group">
            @foreach (var contentItemSummary in Model.ContentItemSummaries)
            {
                @await DisplayAsync(contentItemSummary)
            }
        </ul>
    }
    else
    {
        <div class="alert alert-info">
            @T["No result found."]
        </div>
    }
}

<script type="text/javascript" at="Foot">
    var checkedItems = [];
    function itemChecked(id) {
        $("#btnExport").hide();
        if (checkedItems.includes(id)) {
            var index = checkedItems.indexOf(id);
            if (index !== -1) {
                checkedItems.splice(index, 1);
            }
        } else {
            checkedItems.push(id);
        }
        if (checkedItems.length > 0) {
            $("#btnExport").show();
        }
        $("#checkedItems").val(checkedItems.join())
    }
</script>