<h1>Advanced Form Submissions</h1>

@using (Html.BeginForm())
{
    <fieldset class="filter-options container-fluid">
        <div class="row">
            <div class="col-md-2 col-xl-1 form-group">
                <label for="contentResults" class="label col-form-label">@T["Filter"]</label>
            </div>
            <div class="col-md-4 col-xl-3 form-group">
                <input type="text" class="form-control" id="DisplayText" name="DisplayText" value="@Model.DisplayText" />
            </div>
            <div class="col-md-2 col-xl-1 form-group">
                <button type="submit" class="btn btn-primary" value="submit.Filter" name="submit.Filter">@T["Apply"]</button>
            </div>
            @if (Model.ContentItemSummaries.Count > 0)
            {
                <div class="col-md-4 col-xl-7">
                    <button type="submit" class="btn btn-primary" style="float:right" value="submit.Export" name="submit.Export">@T["Export"]</button>
                </div>
            }
        </div>
    </fieldset>

    @if (Model.ContentItemSummaries.Count > 0)
    {
        <ul class="list-group">
            @foreach (var contentItemSummary in Model.ContentItemSummaries)
            {
                @await DisplayAsync(contentItemSummary)
            }
        </ul>
    }
    else
    {
        <div class="alert alert-info">
            @T["No result found."]
        </div>
    }
}