<h1>Advanced Form Submissions</h1>
<style asp-src="/AdvancedForms/Styles/AdvancedForms.css"></style>
<div id='dashboard'>
</div>
<script asp-src="/AdvancedForms/Scripts/d3.v3.min.js" at="Head" asp-name="advancedforms.d3.v3.min.js"></script>
<script asp-src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" at="Head"></script>
<script asp-src="/AdvancedForms/Scripts/urlConfig.js" at="Head" asp-name="advancedforms.urlConfig"></script>
<script at="Head">
    if (typeof urlConfig !== undefined) {
        urlConfig.Entry = '@Url.Action("Entry", "AdvancedForms", new { area = "AdvancedForms" })';
        urlConfig.Upload = '@Url.Action("Upload", "Admin", new { area = "AdvancedForms" })';
        urlConfig.MoveMedia = '@Url.Action("MoveMedia", "Admin", new { area = "AdvancedForms" })';
        urlConfig.GetPublicComments = '@Url.Action("GetPublicComments", "AdvancedForms", new { area = "AdvancedForms" })';
        urlConfig.GetAdminComments = '@Url.Action("GetAdminComments", "Admin", new { area = "AdvancedForms" })';
        urlConfig.GetGraphData = '@Url.Action("GetGraphData", "Admin", new { area = "AdvancedForms" })';
        urlConfig.MakePublicComment = '@Url.Action("MakePublicComment", "Admin", new { area = "AdvancedForms" })';
        urlConfig.SaveUpdateAdminComment = '@Url.Action("SaveAdminComment", "Admin", new { area = "AdvancedForms" })';
        urlConfig.SaveUpdatePublicComment = '@Url.Action("SavePublicComment", "AdvancedForms", new { area = "AdvancedForms" })';
    }
</script>
<script asp-src="/AdvancedForms/Scripts/D3.js" at="Head" asp-name="advancedforms.D3"></script>
<script>
    renderGraph();
</script>
<hr />

@using (Html.BeginForm())
{
    <fieldset class="filter-options">
        <div class="card mb-3">
            <div class="card-body bg-light p-3">
                <div class="row">
                    <div class="form-group col-xl-3 mb-xl-n1">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-secondary text-light">Title</span>
                            </div>
                            <input class="form-control" type="text" id="DisplayText" name="DisplayText" value="@Model.DisplayText">
                            <input type="hidden" class="btn btn-primary" value="submit.Filter" name="submit.Filter" />
                        </div>
                    </div>
                    @if (Model.ContentItemSummaries.Count > 0)
                    {
                        <div class="form-group col-xl-9 mb-n1" style="padding: 0px 20px;">
                            <div class="input-group input-group-sm">
                                <button type="submit" id="btnExport" class="btn btn-primary" style="float:right;display:none;right: 0px !important;position: absolute;padding: 2px 10px;" value="submit.Export" name="submit.Export">@T["Export"]</button>
                                <input type="hidden" id="checkedItems" name="checkedItems" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </fieldset>

    @if (Model.ContentItemSummaries.Count > 0)
    {
        <ul class="list-group">
            @foreach (var contentItemSummary in Model.ContentItemSummaries)
            {
                @await DisplayAsync(contentItemSummary)
            }
        </ul>
    }
    else
    {
        <div class="alert alert-info">
            @T["No result found."]
        </div>
    }
}

<script type="text/javascript" at="Foot">
    var checkedItems = [];
    var filtered = '@Model.DisplayText';
    function itemChecked(id) {
        $("#btnExport").hide();
        if (checkedItems.includes(id)) {
            var index = checkedItems.indexOf(id);
            if (index !== -1) {
                checkedItems.splice(index, 1);
            }
        } else {
            checkedItems.push(id);
        }
        if (checkedItems.length > 0) {
            $("#btnExport").show();
        }
        $("#checkedItems").val(checkedItems.join())
    }
    $("#DisplayText").blur(function () {
        if (filtered !== this.value) {
            $("form").submit();
        }
    });
</script>