@model AdvancedForms.ViewModels.AdvancedFormViewModel

<style asp-src="/AdvancedForms/Styles/formio.full.min.css"></style>
<script asp-src="/AdvancedForms/Scripts/formio.full.min.3.13.js" at="Head" asp-name="formio.full.min"></script>

<style>
    #main {
        padding-top: 70px;
    }

    #mainNav {
        background-color: #212529 !important;
    }

    #formio button {
        color: #fff;
        background-color: #5bc0de !important;
        border-color: #46b8da !important;
    }

    .print-btn {
        color: #286090 !important;
    }

        .print-btn:hover {
            color: #204d74 !important;
        }

    button:disabled {
        cursor: no-drop;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }

    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .panel-default {
        border-color: #ddd;
    }

    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38);
    }

    .panel-body {
        padding: 15px;
    }
</style>

@{
    var isEdit = !String.IsNullOrEmpty(Model.Id);
    var createOrEdit = isEdit ? "Edit" : "Create";
}

<script type='text/javascript' at="Head">
    window.onload = function() {
        Formio.createForm(document.getElementById('formio'),
            //create the form from saved data
            @Html.Raw(Model.Container)
            @if (Model.EntryType == AdvancedForms.Enums.EntryType.View)
            {
                string readOnly = ",{readOnly: true}";
                @Html.Raw(readOnly);
            }
        ).then(function(form) {
                //fill form data
                form.submission = {
                    @if (!String.IsNullOrEmpty(Model.SubmissionId))
                    {
                        string submission = "data:" + Html.Raw(Model.Submission);
                        @Html.Raw(submission);
                    }
                };

                // Register for the submit event to get the completed submission.
                form.on('submit', function(submission) {
                    console.log('Submission was made!', submission);

                $.ajax({
                  url: '/AdvancedForms/Entry',
                  method: 'POST',
                  data: {
                      __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                      submission: JSON.stringify(submission),
                      title: '@Model.Title',
                      id: '@Model.Id',
                      container: document.getElementById('Container').value,
                      header: '@Model.Header',
                      footer: '@Model.Footer',
                      description: '@Model.Description',
                      type: '@Model.Type',
                      submissionId: '@Model.SubmissionId',
                      instructions: '@Model.Instructions',
                      owner: '@Model.Owner',
                      status: '@Model.Status',
                      adminContainer: '@Model.AdminContainer',
                      adminSubmission: document.getElementById('AdminSubmission').value
                  },
                  success: function (data) {
                      window.location.replace("/submission-confirmation");
                 },
                  error: function (error) {
                            var errorMsg = @T["'Unable to Save. Try again later.'"];
                      $('<div class="alert alert-danger" role="alert"></div>').text(errorMsg + error.responseText).appendTo($('#advancedForm-errors'));
                        }
                    });
                });
            });
      };

    function printButton() {
        window.open(window.location.href.toLowerCase().replace('/edit/', '/print/').replace('/view/', '/print/'), '_blank');
    };
</script>

<form enctype="multipart/form-data" asp-action="@createOrEdit" method="post" id="main"></form>
<a style="float:right;" href="/profile">Go To Profile</a>

<div>
    <h1 style="font-weight: 600;font-size: 30px;">
        @Model.Title
        @if (Model.EntryType == AdvancedForms.Enums.EntryType.View || Model.EntryType == AdvancedForms.Enums.EntryType.Edit)
        {
            <a class="fa fa-print print-btn" style="font-size:27px;text-decoration:none !important;" onclick="printButton();" href="#"></a>
        }
    </h1>
</div>
<div>
    @if (!string.IsNullOrEmpty(Model.StatusText))
    {

        @Html.LabelFor(model => model.Status)
        <span>:</span>
        <b>@Model.StatusText</b>
        <br />
        <br />
    }
</div>
<div>
    @if (!string.IsNullOrEmpty(Model.Description))
    {

        @Html.LabelFor(model => model.Description)
        <br />
        @Html.Raw(Model.Description)
        <br />
        <br />
    }
</div>
<div>
    @if (!string.IsNullOrEmpty(Model.Instructions))
    {
        @Html.LabelFor(model => model.Instructions)
        <br />
        @Html.Raw(Model.Instructions)
        <br />
        <br />
    }
</div>

<div id="advancedForm-errors"></div>

<div id='formio'></div>

<input type="hidden" asp-for="Container" form="main" />
<input type="hidden" asp-for="AdminSubmission" form="main" />
<input type="hidden" asp-for="Id" form="main" />

@if (!string.IsNullOrWhiteSpace(Model.SubmissionId))
{
    <h4>Comments</h4><hr />
    <div>
        <br />
        <div id="PublicCommentsPanels">
        </div>
        <br />
        <div>
            @await Html.PartialAsync("HTMLField", Model.PublicEditor)
            <button class="publish-button btn btn-success" onclick="submitPublicComment('@Model.Id')">@T["Save"]</button>
        </div>
        <br />
        <br />
        <hr />
    </div>
}

<script asp-src="/AdvancedForms/Scripts/Submission.js" at="Head"></script>
<script type="text/javascript">
    GetPublicComments('@Model.Id');
    
</script>
