@model AdvancedForms.ViewModels.AdvancedFormViewModel

<script asp-src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" at="Head"></script>
<style asp-src="/AdvancedForms/Styles/formio.full.min.css"></style>
<script asp-src="/AdvancedForms/Scripts/formio.full.min.js" at="Head" asp-name="formio.full.min"></script>
<script asp-src="/AdvancedForms/Scripts/Display.js" at="Head" asp-name="display"></script>

<style>
    body {
        background: #f7f7f7 !important;
    }
    .panel-default > .panel-heading {
        color: #30363c !important;
        background-color: #fec934 !important;
        border-color: #ddd !important;
    }

    label {
        display: inline-block !important;
        margin-bottom: 0.5rem !important;
        color: #848484 !important;
        font-size: 16px !important;
        font-family: roboto, sans-serif !important;
        font-weight: 500 !important;
    }
    .form-control {
        border: 1px solid #a2a2a2 !important;
    }

    #main {
        padding-top: 70px !important;
    }

    #mainNav {
        background-color: #212529 !important;
    }

    #formio button {
        color: #fff;
        background-color: #5bc0de !important;
        border-color: #46b8da !important;
    }

    .print-btn {
        color: #286090 !important;
    }

        .print-btn:hover {
            color: #204d74 !important;
        }

    button:disabled {
        cursor: no-drop;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }

    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .panel-default {
        border-color: #ddd;
    }

    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.38);
    }

    .panel-body {
        padding: 15px;
    }
    .panel-title {
        font-size: 18px;
    }
    h4 {
        font-size: 18px;
    }

    fieldset {
        border: 1px solid #ddd !important;
        /*padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;*/
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend{
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
</style>

@{
    var isEdit = !String.IsNullOrEmpty(Model.Id);
    var createOrEdit = isEdit ? "Edit" : "Create";
}

<script type='text/javascript' at="Head">
    window.onload = function() {
        Formio.createForm(document.getElementById('formio'),
            @Html.Raw(Model.Container)
            @if (Model.EntryType == AdvancedForms.Enums.EntryType.View)
            {
                string readOnly = ",{readOnly: true}";
                @Html.Raw(readOnly);
            }
        ).then(function(form) {
            form.submission = {
                @if (!String.IsNullOrEmpty(Model.SubmissionId))
                {
                    string submission = "data:" + Html.Raw(Model.Submission);
                    @Html.Raw(submission);
                }
            };
            form.on('submit', function (submission) { saveForm(submission, false); });
            form.on('change', function (submission) { DraftSubmission = submission; });
        });
        initValue('@Model.Title','@Model.Id','@Model.Header','@Model.Footer','@Model.Description','@Model.Type','@Model.SubmissionId','@Model.Instructions','@Model.Owner','@Model.AdminContainer')
    };
    setCurrentUser('@Model.Id', '@User.Identity.Name', false);
</script>

<form enctype="multipart/form-data" asp-action="@createOrEdit" method="post" id="main"></form>
<a style="float:right;" href="/profile">Go To Profile</a>

<div>
    <h1 style="font-weight: 600;font-size: 30px;">
        @Model.Title
        @if (Model.EntryType == AdvancedForms.Enums.EntryType.View || Model.EntryType == AdvancedForms.Enums.EntryType.Edit)
        {
            <a class="fa fa-print print-btn" style="font-size:27px;text-decoration:none !important;" onclick="printButton();" href="#"></a>
        }
    </h1>
</div>
<div>
    @if (!string.IsNullOrEmpty(Model.StatusText))
    {

        @Html.LabelFor(model => model.Status)
        <span>:</span>
        <b>@Model.StatusText</b>
        <br />
        <br />
    }
</div>
<div>
    @if (!string.IsNullOrEmpty(Model.Description))
    {

        @Html.LabelFor(model => model.Description)
        <br />
        @Html.Raw(Model.Description)
        <br />
        <br />
    }
</div>
<div>
    @if (!string.IsNullOrEmpty(Model.Instructions))
    {
        @Html.LabelFor(model => model.Instructions)
        <br />
        @Html.Raw(Model.Instructions)
        <br />
        <br />
    }
</div>

<div id="advancedForm-errors"></div>

<div id='formio'></div>

@if (string.IsNullOrWhiteSpace(Model.StatusText) || Model.StatusText.Equals("Draft"))
{
    <button form="main" name="submit.Save" class="primaryAction btn btn-info" onclick="saveDraft()" value="submit.Save">@T["Save as Draft"]</button>
}
<input type="hidden" asp-for="Container" form="main" />
<input type="hidden" asp-for="AdminSubmission" form="main" />
<input type="hidden" asp-for="Id" form="main" />

@if (!string.IsNullOrWhiteSpace(Model.SubmissionId) && !Model.StatusText.Equals("Draft"))
{
    <h4>Comments</h4><hr />
    <div>
        <br />
        <div id="PublicCommentsPanels">
        </div>
        <br />
        <div>
            @await Html.PartialAsync("HTMLField", Model.PublicEditor)
            <button class="publish-button btn btn-success" onclick="submitPublicComment('@Model.Id')">@T["Save"]</button>
        </div>
        <br />
        <br />
        <hr />
    </div>
}
<script asp-src="/AdvancedForms/Scripts/Submission.js" at="Head"></script>
<script type="text/javascript">
    GetPublicComments('@Model.Id');

</script>
