@model List<AdvancedForms.ViewModels.AdvFormsDisplayViewModel>

<style asp-src="/AdvancedForms/Styles/display.css"></style>
<script asp-src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" at="Head"></script>
<script asp-src="/AdvancedForms/Scripts/Display.js" at="Head"></script>
<div class="row">
    <div class="col-lg-12 text-center" id="main">
        <h2 class="section-heading text-uppercase">DOWNLOADABLE FORMS</h2>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Filter by Form Title" id="inputTitle">
            <div class="input-group-prepend">
                <button class="input-group-text bg-secondary" id="btnSearch" style="background-color: transparent !important;color: #000 !important;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div><br />
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <a data-toggle="collapse" href="#@item.Type.Replace(" ","_")" onclick="collapseShow('@item.Type.Replace(" ","_")')" style="color:#fff;text-decoration:none;display:block;">@item.Type <i class="fa fa-minus" style="float:right;"></i></a>
                    </h4>
                </div>
                <div id="@item.Type.Replace(" ","_")" class="panel-collapse collapse show">
                    @foreach (var form in item.Items)
                    {
                        <a class="list-group-item list-group-item-action" href="/media/@form.Action" download>
                            <strong><span>@form.DisplayText</span></strong>
                            <i class="fa fa-info-circle" data-toggle="tooltip" title="Click title to download form" style="float:right"></i>
                            <br />
                            @Html.Raw(form.Description)
                        </a>
                    }
                </div>
            </div>
        </div>
    }
    @if (Model.Count == 0)
    {
        <div class="col-md-12 alert alert-info">
            <strong>@T["No Item!"]</strong> @T["Not have any downloadable form yet."]
        </div>
    }
    <div class="col-md-12 alert alert-info" style="display:none;">
        <strong>@T["No Item!"]</strong> @T["Not found any form with above filter."]
    </div>
</div>
<hr />

