@model AdvancedForms.ViewModels.AdvancedFormViewModel

<style asp-src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
       debug-src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" media="all">
<link rel="stylesheet" href="/AdvancedForms/Styles/formio.full.min.css" type="text/css" media="all">
<script asp-src="/AdvancedForms/Scripts/formio.full.min.js" at="Head" asp-name="formio.full.min"></script>


<style>
    .wrapper {
        text-align: center;
    }

    .button {
        position: absolute;
    }

    #formio button {
        display: none;
    }

    .container {
        padding: 0px !important;
    }

    #mainNav {
        display: none !important;
    }

    .widget-container {
        display: none !important;
    }
</style>

<script type='text/javascript'>
    window.onload = function () {
        Formio.createForm(document.getElementById('formio'),
            @Html.Raw(Model.Container)
           ,{readOnly: true}
        ).then(function(form) {
            form.submission = {
                @if (!String.IsNullOrEmpty(Model.SubmissionId))
                {
                    string submission = "data:" + Html.Raw(Model.Submission);
                    submission = submission.Replace("col-sm", "col-xs");
                    @Html.Raw(submission);
                }

            };
        });
    };
    function screenPrint() {
        document.getElementById('printButton').style.visibility = 'hidden';
        window.print();
    };
</script>

<div class="wrapper">
    <button id="printButton" style="font-size:24px" onclick="screenPrint();">Print&nbsp;<i class="fa fa-print"></i></button>
</div>

<div class="container" id="containerID">
    <div class="row">
        <div class="col-md-12">
            @Html.Raw(Model.Header)
        </div>
        <div class="col-md-12">
            <h2 style="text-align:center;">@Model.Title</h2>
        </div>
        <div class="col-md-12">
            <div id='formio'></div>
        </div>
        <div class="col-md-12">
            @Html.Raw(Model.Footer)
        </div>
    </div>
</div>
