@using OrchardCore.ContentManagement
@inject IContentManager ContentManager
@{
    ContentItem contentItem = Model.ContentItem;
    if (contentItem.Content.AutoroutePart.Path == null)
    {
        return;
    }
    var hasPublished = await ContentManager.HasPublishedVersionAsync(contentItem);
    var hasDraft = contentItem.HasDraft();
    string action = contentItem.Content.AutoroutePart.Path.ToString().Split("/")[1];
    string status = string.Empty;
    dynamic selectedContent = await ContentManager.GetAsync(contentItem.Content.AdvancedFormSubmissions.Status.Text.ToString(), VersionOptions.Published);
    if (selectedContent == null)
    {
        selectedContent = await ContentManager.GetAsync(contentItem.Content.AdvancedFormSubmissions.Status.Text.ToString(), VersionOptions.DraftRequired);
    }
    if (selectedContent != null)
    {
        status = selectedContent.DisplayText;
    }
}

<li class="list-group-item">
    <div class="properties">
        <div class="related float-right">
            <a href="@Url.Action(action, "Admin", new { area = "AdvancedForms" })/submission/@contentItem.ContentItemId?returnUrl=@FullRequestPath" class="btn btn-primary btn-sm">@T["Edit"]</a>
            @if (hasPublished)
            {
                <a href="@Url.Action("View", action, new { area = "AdvancedForms" })/@contentItem.ContentItemId" class="btn btn-success btn-sm" itemprop="">@T["View"]</a>
            }
            <div class="btn-group">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @T["Actions"]
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    @if (hasDraft)
                    {
                        <a asp-action="Publish" asp-controller="Admin" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" itemprop="UnsafeUrl" class="dropdown-item btn-sm">@T["Publish Draft"]</a>
                        <a asp-action="Preview" asp-controller="Item" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" class="dropdown-item btn-sm">@T["Preview Draft"]</a>
                        <div class="dropdown-divider"></div>
                    }
                    @if (hasDraft && hasPublished)
                    {
                        <a asp-action="DiscardDraft" asp-controller="Admin" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" itemprop="UnsafeUrl RemoveUrl" class="dropdown-item btn-sm">@T["Discard Draft"]</a>
                    }
                    @if (hasPublished)
                    {
                        <a asp-action="Unpublish" asp-controller="Admin" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" itemprop="UnsafeUrl RemoveUrl" class="dropdown-item btn-sm">@T["Unpublish"]</a>
                    }
                    @if (hasDraft || hasPublished)
                    {
                        <a asp-action="Remove" asp-controller="Admin" asp-route-area="OrchardCore.Contents" asp-route-contentItemId="@contentItem.ContentItemId" asp-route-returnUrl="@FullRequestPath" class="dropdown-item btn-sm" itemprop="RemoveUrl UnsafeUrl">@T["Delete"]</a>
                    }

                </div>
            </div>
        </div>
        <div class="custom-control custom-checkbox float-left">
            <input type="checkbox" class="custom-control-input" value="@contentItem.Id" name="itemIds" id="itemIds-@contentItem.Id" onchange="itemChecked('@contentItem.Id')" />
            <label class="custom-control-label" for="itemIds-@contentItem.Id">&nbsp;</label>
        </div>
        <a href="@Url.Action(action, "Admin", new { area = "AdvancedForms" })/submission/@contentItem.ContentItemId">@action.Replace("-", " ")</a>
        <br />
        <div class="metadata">
            @if (hasPublished)
            {
                <span class="badge badge-success" title="@T["Published"]">
                    <i class="fa fa-check" aria-hidden="true"></i> @T["Published"]
                </span>
            }
            @if (hasDraft)
            {
                <span class="badge badge-primary" title="@T["Draft"]">
                    <i class="fa fa-pencil" aria-hidden="true"></i> @T["Draft"]
                </span>
            }
            <span class="badge badge-secondary" title="@T[@status]" style="color:#fff;"> @T["Status - " + @status]</span>
            <br />
            @if (!string.IsNullOrWhiteSpace(contentItem.Owner))
            {
                <span class="hint">
                    @T["Submitted By : <b>{0}</b>,", contentItem.Owner]
                    @if (contentItem.CreatedUtc.HasValue)
                    {
                        @T["<b>{0}</b>", (object)(await DisplayAsync(await New.TimeSpan(Utc: contentItem.CreatedUtc.Value)))]
                    }
                </span>
            } else if (contentItem.CreatedUtc.HasValue)
            {
                <span class="hint">@T["Submitted: <b>{0}</b>", (object)(await DisplayAsync(await New.TimeSpan(Utc: contentItem.CreatedUtc.Value)))]</span>
            }
        </div>
    </div>
</li>